h1 {
    color: tomato;
    font-size: 24px;
}

#b1
#b2
#b3
#b4
#b5
#b6
#b7
#b8
#b9 {
    width: 100px;
    height: 100px;
    margin: auto;
    border: black;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}
button {
    box-sizing: border-box;
    width: 170px;
    height: 30px;
    border: aqua;
    margin: auto;
    border-radius: 10px;
    font-family: Geneva;
    background-color: blue;
    color: white;
    font-size: 14px;
    cursor: auto;
}

.buttonPane {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
#print {
    font-family: Geneva;
    color: tomato;
    font-size: 24px;
}

#main {
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

#main .inputBlock input{
    width: 300px;
}

body {
    background-color: burlywood;
}